.style0 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneifh.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 152px;
  flex-direction: column
}
.style2 {
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 161px;
  margin-top: 57px;
  height: 23px;
  flex-shrink: 0
}
.certificateapprovalimage0unsupported0 {
  position: relative;
  margin-left: 8px;
  margin-top: 65px;
  width: 374px;
  height: 32px;
  flex-shrink: 0
}
.style1 {
  font-family: BalsamiqSans,serif;
  font-size: 2.0625em;
  font-weight: 700;
  margin-left: 375px;
  margin-top: 24px;
  height: 41px
}
.certificateapprovalrow2 {
  display: flex;
  margin-left: 44px;
  margin-top: 39px;
  width: 1095px;
  height: 36px;
  align-items: center
}
.style5 {
  font-weight: 700;
  margin-left: 0;
  height: 26px
}
.style14,
.style5,
.style6 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em
}
.style6 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  width: 225px;
  margin-left: 53px;
  height: 100%
}
.style14 {
  font-weight: 700;
  margin-left: 236px;
  height: 26px
}
.certificateapprovalrow2unsupported1 {
  margin-left: 14px;
  width: 225px;
  height: 100%
}
.certificateapprovalrow3 {
  display: flex;
  margin-left: 44px;
  margin-top: 30px;
  width: 1095px;
  height: 36px;
  align-items: center
}
.style9 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 26px
}
.style12 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  margin-left: 53px;
  width: 225px;
  height: 100%
}
.style10,
.style12,
.style8 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em
}
.style8 {
  font-weight: 700;
  margin-left: 236px;
  height: 26px
}
.style10 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  margin-left: 14px;
  width: 225px;
  height: 100%
}
.certificateapprovalunsupported2 {
  margin-left: 248px;
  margin-top: 42px;
  width: 239px;
  height: 33px
}
.style15 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  position: relative;
  margin-left: 44px;
  margin-top: 403px;
  height: 26px
}
.style3 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 541px;
  margin-top: 71px;
  width: 98px;
  height: 36px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style4 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.certificateapprovalunsupported3 {
  display: flex;
  margin-left: 15px;
  margin-top: 53px;
  width: 1170px;
  height: 351px;
  flex-direction: column
}
.certificateapprovalunsupported3row0 {
  position: relative;
  display: flex;
  margin-left: 15px;
  margin-top: 30px;
  width: 1090px;
  height: 30px;
  align-items: stretch
}
.style16,
.style17,
.style18,
.style19 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5em;
  margin-left: 0;
  flex-shrink: 0
}
.style17,
.style18,
.style19 {
  margin-left: 18px
}
.style18,
.style19 {
  margin-left: 78px
}
.style19 {
  margin-left: 56px
}
.style20 {
  margin-left: 89px
}
.style20,
.style21,
.style22,
.style23 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5em;
  flex-shrink: 0
}
.style21 {
  position: relative;
  margin-left: 123px
}
.style22,
.style23 {
  margin-left: 90px
}
.style22 {
  margin-left: 29px
}
.certificateapprovalunsupported3row0checkbox0 {
  margin-left: 72px;
  width: 21px;
  flex-shrink: 0
}
.style24 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 9px;
  flex-shrink: 0
}
.style25 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 545px;
  margin-top: 45px;
  width: 93px;
  height: 36px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style26 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.style27 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneij0.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 6px;
  width: 1200px;
  height: 156px;
  flex-direction: column
}
.style36 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 145px;
  margin-top: 77px;
  height: 23px
}
.BonafiedCertificateunsupported0 {
  margin-left: 0;
  margin-top: 5px;
  width: 387px;
  height: 32px
}
.BonafiedCertificaterow2 {
  position: relative;
  display: flex;
  margin-left: 12px;
  margin-top: 36px;
  width: 855px;
  height: 135px
}
.style37 {
  margin-left: 0;
  width: 128px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style28,
.style29,
.style38 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style38 {
  text-align: center;
  position: relative;
  width: 665px;
  flex-shrink: 0;
  font-size: 1.3125em;
  margin-left: 62px;
  margin-top: 82px
}
.style28,
.style29 {
  font-size: 2.125em;
  margin-left: 182px;
  margin-top: 281px;
  height: 42px
}
.style29 {
  text-align: center;
  margin-left: 0;
  margin-top: 133px
}
.style30,
.style31,
.style32,
.style33 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5em;
  margin-left: 114px;
  margin-top: 90px;
  height: 31px
}
.style31,
.style32,
.style33 {
  margin-left: 121px;
  margin-top: 14px
}
.style32,
.style33 {
  margin-left: 119px;
  margin-top: 25px
}
.style33 {
  margin-left: 122px
}
.BonafiedCertificaterow9 {
  position: relative;
  display: flex;
  margin-left: 40px;
  margin-top: 165px;
  width: 1155px;
  height: 36px
}
.style34 {
  font-size: 1.75em;
  font-weight: 700;
  position: relative;
  margin-left: 0;
  margin-top: 11px;
  height: 36px;
  flex-shrink: 0
}
.style34,
.style35,
.style39 {
  font-family: BalsamiqSans,serif
}
.style35 {
  font-weight: 700;
  align-self: stretch;
  flex-shrink: 0;
  font-size: 1.75em;
  margin-left: 513px;
  height: 100%
}
.style39 {
  font-size: 1.5em;
  position: relative;
  margin-left: 139px;
  margin-top: 953px;
  height: 31px
}
.style40 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneimr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 168px;
  flex-direction: column;
  justify-content: center
}
.style57 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 155px;
  height: 25px
}
.TransferCertificateunsupported0 {
  margin-left: 0;
  margin-top: 5px;
  width: 412px;
  height: 35px
}
.TransferCertificaterow2 {
  display: flex;
  margin-left: 13px;
  margin-top: 17px;
  width: 1115px;
  height: 133px;
  align-items: center
}
.style58 {
  margin-left: 0;
  width: 110px;
  height: 100%
}
.style41,
.style60 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style41 {
  height: 45px;
  font-size: 2.3125em;
  margin-left: 25px
}
.style60 {
  text-align: center;
  font-size: 1.4375em;
  margin-left: 191px;
  margin-top: 0;
  width: 715px
}
.TransferCertificaterow4 {
  display: flex;
  margin-left: 43px;
  margin-top: 5px;
  width: 1132px;
  height: 196px
}
.style42,
.style45 {
  font-family: BalsamiqSans,serif;
  font-weight: 700;
  margin-left: 0
}
.style45 {
  margin-top: 58px;
  font-size: 1.625em;
  height: 33px
}
.style42 {
  font-size: 2.3125em;
  height: 45px
}
.style61 {
  background-image: url(http://tako.assets.yotako.io/images/brand/big-octo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 916px;
  width: 216px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  justify-content: center
}
.TransferCertificaterow4image2unsupported2 {
  width: 80px;
  height: 80px
}
.style46,
.style47,
.style59 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 43px;
  height: 33px
}
.style59 {
  position: relative;
  margin-top: 580px
}
.style46,
.style47 {
  margin-top: 23px
}
.style47 {
  margin-top: 20px
}
.TransferCertificaterow8 {
  display: flex;
  margin-left: 43px;
  margin-top: 17px;
  width: 429px;
  height: 33px;
  align-items: stretch
}
.style48,
.style65 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style65 {
  margin-left: 70px
}
.TransferCertificaterow9 {
  position: relative;
  display: flex;
  margin-left: 43px;
  margin-top: 17px;
  width: 445px;
  height: 33px
}
.style49,
.style66 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  flex-shrink: 0
}
.style49 {
  position: relative;
  margin-top: 8px;
  margin-left: 0;
  height: 33px
}
.style66 {
  margin-left: 150px;
  height: 100%;
  align-self: stretch
}
.TransferCertificaterow10 {
  display: flex;
  margin-left: 43px;
  margin-top: 30px;
  width: 429px;
  height: 33px;
  align-items: stretch
}
.style50,
.style67 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style67 {
  margin-left: 12px
}
.TransferCertificaterow11 {
  display: flex;
  margin-left: 43px;
  margin-top: 17px;
  width: 445px;
  height: 33px;
  align-items: stretch
}
.style51,
.style68 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style68 {
  margin-left: 180px
}
.TransferCertificaterow12 {
  display: flex;
  margin-left: 43px;
  margin-top: 15px;
  width: 444px;
  height: 33px;
  align-items: stretch
}
.style52,
.style69 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style69 {
  margin-left: 180px
}
.TransferCertificaterow13 {
  display: flex;
  margin-left: 43px;
  margin-top: 17px;
  width: 454px;
  height: 33px;
  align-items: stretch
}
.style53,
.style70 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style70 {
  margin-left: 180px
}
.TransferCertificaterow14 {
  display: flex;
  margin-left: 43px;
  margin-top: 20px;
  width: 469px;
  height: 33px;
  align-items: stretch
}
.style54,
.style71 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style71 {
  margin-left: 70px
}
.TransferCertificaterow15 {
  display: flex;
  margin-left: 43px;
  margin-top: 22px;
  width: 457px;
  height: 33px;
  align-items: stretch
}
.style55,
.style72 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style72 {
  margin-left: 96px
}
.TransferCertificaterow16 {
  position: relative;
  display: flex;
  margin-left: 43px;
  margin-top: 25px;
  width: 475px;
  height: 33px;
  align-items: stretch
}
.style56,
.style73 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0;
  flex-shrink: 0
}
.style73 {
  position: relative;
  margin-left: 38px
}
.TransferCertificaterow17 {
  display: flex;
  margin-left: 43px;
  margin-top: 13px;
  width: 475px;
  height: 33px;
  align-items: stretch
}
.style74,
.style75 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  font-weight: 700;
  margin-left: 0
}
.style75 {
  margin-left: 96px
}
.TransferCertificaterow18 {
  display: flex;
  margin-left: 17px;
  margin-top: 86px;
  width: 1132px;
  height: 30px;
  align-items: stretch
}
.style43,
.style44,
.style76 {
  font-family: BalsamiqSans,serif;
  font-size: 1.4375em;
  font-weight: 700;
  margin-left: 0
}
.style43,
.style44 {
  margin-left: 480px
}
.style43 {
  position: relative;
  margin-left: 407px;
  margin-top: 1333px;
  height: 30px
}
.style77 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneipw.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 3px;
  width: 1200px;
  height: 168px;
  flex-direction: column;
  justify-content: center
}
.style86 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 138px;
  height: 25px
}
.ConductCertificateunsupported0 {
  margin-left: 5px;
  margin-top: 13px;
  width: 412px;
  height: 35px
}
.ConductCertificaterow2 {
  display: flex;
  margin-left: 5px;
  margin-top: 0;
  width: 1140px;
  height: 133px;
  align-items: center
}
.style87 {
  margin-left: 0;
  width: 110px;
  height: 100%
}
.style78,
.style79,
.style88 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style78 {
  font-size: 2.3125em;
  margin-left: 50px;
  height: 45px
}
.style79,
.style88 {
  text-align: center
}
.style88 {
  position: relative;
  width: 715px;
  font-size: 1.4375em;
  margin-left: 165px;
  margin-top: 0
}
.style79 {
  font-size: 2.3125em;
  margin-left: 0;
  margin-top: 73px;
  height: 45px
}
.style80,
.style81,
.style82,
.style83,
.style84 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  margin-left: 131px;
  margin-top: 208px;
  height: 33px
}
.style81,
.style82,
.style83,
.style84 {
  margin-top: 23px
}
.style82 {
  margin-top: 125px
}
.ConductCertificaterow10 {
  display: flex;
  margin-left: 60px;
  margin-top: 166px;
  width: 1117px;
  height: 38px;
  align-items: stretch
}
.style85,
.style89 {
  font-family: BalsamiqSans,serif;
  font-size: 1.875em;
  font-weight: 700;
  margin-left: 0
}
.style85 {
  margin-left: 509px
}
.style90 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneisr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 168px;
  flex-direction: column
}
.style95 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 138px;
  margin-top: 83px;
  height: 25px;
  flex-shrink: 0
}
.CRRIcertificateimage0unsupported0 {
  position: relative;
  margin-left: 17px;
  margin-top: 57px;
  width: 382px;
  height: 35px;
  flex-shrink: 0
}
.CRRIcertificaterow1 {
  position: relative;
  display: flex;
  margin-left: 10px;
  margin-top: 32px;
  width: 844px;
  height: 133px
}
.style96 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneiu1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 110px;
  height: 100%;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0
}
.CRRIcertificaterow1image1unsupported1 {
  position: relative;
  margin-top: 63px;
  width: 80px;
  height: 80px;
  flex-shrink: 0
}
.style119 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.4375em;
  font-weight: 700;
  position: relative;
  margin-left: 20px;
  margin-top: 52px;
  width: 715px;
  flex-shrink: 0
}
.style91 {
  font-size: 2.3125em;
  font-weight: 700;
  margin-left: 131px;
  margin-top: 218px;
  height: 45px
}
.style91,
.style92,
.style93 {
  font-family: BalsamiqSans,serif
}
.style92 {
  font-weight: 700;
  font-size: 2.3125em;
  margin-left: 120px;
  margin-top: 101px;
  height: 45px
}
.style93 {
  font-size: 1.625em;
  margin-left: 80px;
  margin-top: 40px;
  height: 33px
}
.CRRIcertificateunsupported7 {
  position: relative;
  margin-left: 469px;
  margin-top: 462px;
  width: 710px;
  height: 17px
}
.style94,
.style97,
.style98 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  margin-left: 73px;
  margin-top: 17px;
  height: 33px
}
.style97,
.style98 {
  margin-top: 15px
}
.style98 {
  margin-left: 80px;
  margin-top: 10px
}
.CRRIcertificateunsupported4 {
  position: relative;
  margin-left: 0;
  margin-top: 603px;
  width: 158px;
  height: 17px
}
.style100,
.style101,
.style99 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  margin-left: 73px;
  margin-top: 12px;
  height: 33px
}
.style100,
.style101 {
  margin-left: 80px
}
.style101 {
  margin-top: 10px
}
.CRRIcertificateunsupported9 {
  display: flex;
  margin-left: 75px;
  margin-top: 61px;
  width: 1075px;
  height: 480px;
  flex-direction: column
}
.CRRIcertificateunsupported9row0 {
  display: flex;
  margin-left: 15px;
  margin-top: 42px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style102,
.style103 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style102 {
  margin-left: 199px
}
.CRRIcertificateunsupported9row1 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style105,
.style111 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style111 {
  margin-left: 173px
}
.CRRIcertificateunsupported9row2 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style106,
.style112 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style112 {
  margin-left: 98px
}
.CRRIcertificateunsupported9row3 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style107,
.style113 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style113 {
  margin-left: 199px
}
.CRRIcertificateunsupported9row4 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style108,
.style114 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style114 {
  margin-left: 27px
}
.CRRIcertificateunsupported9row5 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style109,
.style115 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style115 {
  margin-left: 101px
}
.CRRIcertificateunsupported9row6 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style110,
.style116 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style116 {
  margin-left: 27px
}
.CRRIcertificateunsupported9row7 {
  display: flex;
  margin-left: 15px;
  margin-top: 27px;
  width: 951px;
  height: 28px;
  align-items: stretch
}
.style104,
.style117,
.style118 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0
}
.style104,
.style118 {
  margin-left: 27px
}
.style104 {
  font-size: 1.625em;
  margin-left: 63px;
  margin-top: 15px;
  height: 33px
}
.CRRIcertificateunsupported10,
.style120 {
  position: relative;
  margin-left: 0;
  margin-top: 1326px;
  width: 317px;
  height: 17px
}
.style120 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneivm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-top: 3px;
  width: 1200px;
  height: 168px;
  flex-direction: column
}
.style127 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 138px;
  margin-top: 91px;
  height: 25px;
  flex-shrink: 0
}
.CourseCompletionimage0unsupported0 {
  position: relative;
  margin-left: 17px;
  margin-top: 50px;
  width: 401px;
  height: 35px;
  flex-shrink: 0
}
.CourseCompletionrow1 {
  display: flex;
  margin-left: 13px;
  margin-top: 78px;
  width: 1117px;
  height: 133px;
  align-items: center
}
.style128 {
  margin-left: 0;
  width: 110px;
  height: 100%
}
.style121,
.style122,
.style129 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style121 {
  font-size: 2.3125em;
  margin-left: 27px;
  height: 45px
}
.style122,
.style129 {
  text-align: center
}
.style129 {
  width: 715px;
  font-size: 1.4375em;
  margin-left: 150px;
  margin-top: 0
}
.style122 {
  font-size: 2.3125em;
  margin-left: 0;
  margin-top: 98px;
  height: 45px
}
.style123,
.style124,
.style125,
.style126,
.style130 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  margin-left: 128px;
  margin-top: 70px;
  height: 33px
}
.style124,
.style125,
.style126,
.style130 {
  margin-top: 45px
}
.style125,
.style126,
.style130 {
  margin-top: 43px
}
.style125,
.style130 {
  font-weight: 700;
  margin-left: 88px;
  margin-top: 334px
}
.style130 {
  position: relative;
  margin-left: 904px;
  margin-top: 1173px
}
.style131 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilneiy1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 168px;
  flex-direction: column
}
.style139 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 148px;
  margin-top: 90px;
  height: 25px
}
.TranscribeCertificateunsupported0 {
  margin-left: 7px;
  margin-top: 0;
  width: 434px;
  height: 35px
}
.TranscribeCertificaterow2 {
  position: relative;
  display: flex;
  margin-left: 13px;
  margin-top: 27px;
  width: 1109px;
  height: 133px
}
.style140 {
  margin-left: 0;
  width: 110px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style132 {
  font-size: 2.3125em;
  margin-left: 18px;
  height: 45px;
  align-self: center;
  flex-shrink: 0
}
.style132,
.style133,
.style141 {
  font-family: BalsamiqSans,serif;
  font-weight: 700
}
.style141 {
  text-align: center;
  position: relative;
  width: 715px;
  flex-shrink: 0;
  font-size: 1.4375em;
  margin-left: 136px;
  margin-top: 83px
}
.style133 {
  font-size: 2.3125em;
  margin-left: 307px;
  margin-top: 153px;
  height: 45px
}
.style134,
.style135,
.style136,
.style137,
.style138 {
  font-family: BalsamiqSans,serif;
  font-size: 1.625em;
  margin-left: 85px;
  margin-top: 105px;
  height: 33px
}
.style135,
.style136,
.style137,
.style138 {
  margin-top: 27px
}
.style136,
.style138 {
  font-weight: 700;
  margin-left: 58px;
  margin-top: 347px
}
.style138 {
  position: relative;
  margin-left: 904px;
  margin-top: 1170px
}
.style142 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilnej0g.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 168px;
  flex-direction: column
}
.style145 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 141px;
  margin-top: 57px;
  height: 25px
}
.CertificateConfigurationunsupported2 {
  margin-left: 8px;
  margin-top: 0;
  width: 678px;
  height: 35px
}
.CertificateConfigurationrow2 {
  display: flex;
  margin-left: 244px;
  margin-top: 78px;
  width: 922px;
  height: 40px;
  align-items: stretch
}
.CertificateConfigurationrow2unsupported0 {
  margin-left: 0;
  width: 286px
}
.style160 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  text-indent: 17px;
  position: relative;
  margin-left: 344px;
  width: 293px
}
.CertificateConfigurationrow3 {
  position: relative;
  display: flex;
  margin-left: 30px;
  margin-top: 286px;
  width: 949px;
  height: 28px;
  align-items: stretch
}
.style143,
.style159 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  flex-shrink: 0
}
.style143 {
  position: relative;
  margin-left: 0
}
.style159 {
  margin-left: 284px
}
.CertificateConfigurationrow4 {
  display: flex;
  margin-left: 30px;
  margin-top: 60px;
  width: 1137px;
  height: 88px
}
.style144 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 28px
}
.CertificateConfigurationrow4unsupported1 {
  margin-left: 0;
  width: 286px;
  height: 40px
}
.style151,
.style154 {
  font-family: BalsamiqSans,serif
}
.style151 {
  font-weight: 700;
  font-size: 1.3125em;
  margin-left: 116px;
  height: 28px
}
.style154 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-size: 1.25em;
  text-indent: 17px;
  margin-left: 844px;
  width: 293px;
  height: 100%
}
.CertificateConfigurationrow5 {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  width: 238px;
  height: 28px;
  align-items: stretch
}
.style152 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0
}
.CertificateConfigurationrow5checkbox0 {
  margin-left: 47px;
  width: 23px
}
.style146 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 534px;
  margin-top: 48px;
  width: 133px;
  height: 40px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style147 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  height: 22px
}
.CertificateConfigurationunsupported3 {
  display: flex;
  margin-left: 30px;
  margin-top: 15px;
  width: 1150px;
  height: 414px;
  align-items: flex-end;
  flex-direction: column
}
.CertificateConfigurationunsupported3row0 {
  display: flex;
  margin-top: 48px;
  width: 1125px;
  height: 37px;
  align-items: center
}
.style148,
.style149,
.style150,
.style156,
.style157,
.style158,
.style162 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  margin-left: 0;
  height: 28px
}
.style149,
.style150,
.style156,
.style157,
.style158,
.style162 {
  margin-left: 18px
}
.style150,
.style156,
.style157,
.style158,
.style162 {
  margin-left: 135px
}
.style156,
.style157,
.style158,
.style162 {
  margin-left: 148px
}
.style157,
.style158,
.style162 {
  margin-left: 71px
}
.style157,
.style158 {
  margin-left: 73px
}
.style158 {
  color: #00000a;
  margin-left: 15px;
  height: 100%
}
.style163 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilnej1v.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 152px;
  flex-direction: column;
  justify-content: center
}
.style164 {
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 131px;
  height: 23px
}
.CertificationMasterunsupported0 {
  margin-left: 3px;
  margin-top: 0;
  width: 451px;
  height: 32px
}
.CertificationMasterrow2 {
  position: relative;
  display: flex;
  margin-left: 45px;
  margin-top: 78px;
  width: 1084px;
  height: 36px;
  align-items: stretch
}
.style165 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  flex-shrink: 0
}
.style166 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  position: relative;
  margin-left: 6px;
  width: 227px
}
.style166,
.style168,
.style170 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  flex-shrink: 0
}
.style168 {
  font-weight: 700;
  margin-left: 174px
}
.style170 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  margin-left: 0;
  width: 209px
}
.CertificationMasterrow3 {
  display: flex;
  margin-left: 45px;
  margin-top: 36px;
  width: 903px;
  height: 80px
}
.style169 {
  font-weight: 700;
  margin-left: 0;
  height: 26px
}
.style169,
.style178,
.style183 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em
}
.style183 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  width: 233px;
  margin-left: 234px;
  height: 100%
}
.style178 {
  font-weight: 700;
  margin-left: 174px;
  height: 26px
}
.CertificationMasterrow3checkbox0 {
  margin-left: 89px;
  width: 21px;
  height: 21px
}
.style176 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 550px;
  margin-top: 54px;
  width: 65px;
  height: 36px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style177 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.CertificationMasterunsupported1 {
  display: flex;
  margin-left: 20px;
  margin-top: 29px;
  width: 1170px;
  height: 482px;
  align-items: flex-end;
  flex-direction: column
}
.CertificationMasterunsupported1row0 {
  position: relative;
  display: flex;
  margin-top: 42px;
  width: 1138px;
  height: 30px;
  align-items: stretch
}
.style172,
.style175 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0
}
.style175 {
  font-size: 1.5em;
  font-weight: 700;
  position: relative;
  margin-left: 0
}
.style172 {
  margin-left: 68px
}
.style172,
.style173,
.style174 {
  font-size: 1.5em;
  font-weight: 700;
  position: relative
}
.style173 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0;
  margin-left: 228px
}
.style174 {
  margin-left: 257px
}
.style174,
.style179,
.style180,
.style181 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0
}
.style181 {
  font-weight: 700;
  position: relative;
  margin-left: 144px;
  font-size: 1.5em
}
.style179,
.style180 {
  color: #00000a;
  font-size: 1.0625em
}
.style179 {
  position: relative;
  margin-left: 54px
}
.style180 {
  margin-left: 26px
}
.style185 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilnej2t.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 151px;
  flex-direction: column
}
.style186 {
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 154px;
  margin-top: 61px;
  height: 22px;
  flex-shrink: 0
}
.CertificateRequestimage0unsupported0 {
  position: relative;
  margin-left: 7px;
  margin-top: 64px;
  width: 408px;
  height: 31px;
  flex-shrink: 0
}
.CertificateRequestrow1 {
  position: relative;
  display: flex;
  margin-left: 48px;
  margin-top: 108px;
  width: 1104px;
  height: 36px;
  align-items: center
}
.style190 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 25px;
  flex-shrink: 0
}
.style193 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  position: relative;
  margin-left: 52px;
  width: 220px
}
.style189,
.style191,
.style193 {
  font-family: BalsamiqSans,serif;
  height: 100%;
  flex-shrink: 0
}
.style189 {
  font-weight: 700;
  font-size: 1.1875em;
  margin-left: 257px
}
.style191 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 13px;
  width: 221px
}
.CertificateRequestrow2 {
  display: flex;
  margin-left: 48px;
  margin-top: 58px;
  width: 1106px;
  height: 36px;
  align-items: stretch
}
.style195,
.style204 {
  font-family: BalsamiqSans,serif
}
.style195 {
  font-weight: 700;
  font-size: 1.1875em;
  margin-left: 0
}
.style204 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 1.125em;
  text-indent: 15px;
  margin-left: 4px;
  width: 221px
}
.CertificateRequestrow2unsupported2 {
  margin-left: 459px;
  width: 223px
}
.style196 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  position: relative;
  margin-left: 728px;
  margin-top: 357px;
  height: 25px
}
.CertificateRequestrow4 {
  position: relative;
  display: flex;
  margin-left: 251px;
  margin-top: 52px;
  width: 901px;
  height: 36px;
  align-items: stretch
}
.CertificateRequestrow4unsupported4 {
  margin-left: 0;
  width: 220px;
  flex-shrink: 0
}
.CertificateRequestrow4unsupported3 {
  position: relative;
  margin-left: 460px;
  width: 221px;
  flex-shrink: 0
}
.CertificateRequestrow5 {
  position: relative;
  display: flex;
  margin-left: 48px;
  margin-top: 445px;
  width: 903px;
  height: 25px;
  align-items: stretch
}
.style199,
.style208 {
  font-size: 1.1875em;
  font-weight: 700;
  position: relative
}
.style208 {
  font-family: BalsamiqSans,serif;
  margin-left: 0
}
.style199 {
  margin-left: 457px
}
.style199,
.style200,
.style206 {
  font-family: BalsamiqSans,serif
}
.style206 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 15px;
  position: relative;
  width: 220px;
  font-size: 1.125em;
  margin-left: 251px;
  margin-top: 55px;
  height: 64px
}
.style200 {
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 48px;
  margin-top: 526px;
  height: 25px
}
.style197 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 550px;
  margin-top: 39px;
  width: 106px;
  height: 36px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style198 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  height: 19px
}
.CertificateRequestunsupported1 {
  display: flex;
  margin-left: 19px;
  margin-top: 19px;
  width: 1164px;
  height: 360px;
  flex-direction: column
}
.CertificateRequestunsupported1row0 {
  position: relative;
  display: flex;
  margin-left: 15px;
  margin-top: 31px;
  width: 1098px;
  height: 31px;
  align-items: center
}
.style188 {
  font-size: 1.4375em;
  font-weight: 700;
  position: relative;
  margin-left: 0;
  height: 100%
}
.style187,
.style188,
.style210 {
  font-family: BalsamiqSans,serif;
  flex-shrink: 0
}
.style210 {
  font-size: 1.1875em;
  position: relative;
  margin-left: 24px;
  height: 25px
}
.style187 {
  margin-left: 99px;
  height: 100%
}
.style187,
.style201,
.style209 {
  font-size: 1.4375em;
  position: relative
}
.style201 {
  font-family: BalsamiqSans,serif;
  height: 100%;
  flex-shrink: 0;
  margin-left: 118px
}
.style209 {
  margin-left: 161px
}
.style202,
.style203,
.style209 {
  font-family: BalsamiqSans,serif;
  height: 100%;
  flex-shrink: 0
}
.style202 {
  position: relative;
  font-size: 1.4375em;
  margin-left: 85px
}
.style203 {
  color: #00000a;
  font-size: 1.125em;
  margin-left: 33px
}
.style211 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilnej4i.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 152px;
  flex-direction: column;
  justify-content: center
}
.style213 {
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 164px;
  height: 23px
}
.RequestViewunsupported0 {
  margin-left: 5px;
  margin-top: 0;
  width: 421px;
  height: 32px
}
.style212 {
  font-family: BalsamiqSans,serif;
  font-size: 1.6875em;
  font-weight: 700;
  margin-left: 345px;
  margin-top: 20px;
  height: 35px
}
.RequestViewrow3 {
  display: flex;
  margin-left: 45px;
  margin-top: 26px;
  width: 1095px;
  height: 36px;
  align-items: center
}
.style221 {
  font-weight: 700;
  margin-left: 0;
  height: 26px
}
.style221,
.style222,
.style230 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em
}
.style222 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  width: 225px;
  margin-left: 53px;
  height: 100%
}
.style230 {
  font-weight: 700;
  margin-left: 236px;
  height: 26px
}
.RequestViewrow3unsupported2 {
  margin-left: 14px;
  width: 225px;
  height: 100%
}
.RequestViewrow4 {
  display: flex;
  margin-left: 45px;
  margin-top: 30px;
  width: 1095px;
  height: 36px;
  align-items: center
}
.style225 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  margin-left: 0;
  height: 26px
}
.style228 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  margin-left: 53px;
  width: 225px;
  height: 100%
}
.style224,
.style226,
.style228 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em
}
.style224 {
  font-weight: 700;
  margin-left: 236px;
  height: 26px
}
.style226 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  text-indent: 15px;
  margin-left: 14px;
  width: 225px;
  height: 100%
}
.RequestViewunsupported3 {
  margin-left: 249px;
  margin-top: 42px;
  width: 225px;
  height: 33px
}
.style231 {
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  font-weight: 700;
  position: relative;
  margin-left: 45px;
  margin-top: 415px;
  height: 26px
}
.style232 {
  background-color: #fff;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  box-shadow: 246px 246px 0 0 #000;
  display: flex;
  margin-left: 544px;
  margin-top: 83px;
  width: 98px;
  height: 36px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style233 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  height: 20px
}
.RequestViewunsupported1 {
  display: flex;
  margin-left: 17px;
  margin-top: 108px;
  width: 1170px;
  height: 351px;
  align-items: center;
  flex-direction: column
}
.RequestViewunsupported1row0 {
  position: relative;
  display: flex;
  margin-top: 30px;
  width: 1134px;
  height: 30px;
  align-items: stretch
}
.style214,
.style215,
.style216,
.style217 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5em;
  margin-left: 0;
  flex-shrink: 0
}
.style215,
.style216,
.style217 {
  margin-left: 18px
}
.style216,
.style217 {
  margin-left: 78px
}
.style217 {
  margin-left: 56px
}
.style218 {
  margin-left: 89px
}
.style218,
.style219,
.style220,
.style234,
.style235,
.style236 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5em;
  flex-shrink: 0
}
.style219 {
  position: relative;
  margin-left: 123px
}
.style220,
.style234,
.style235,
.style236 {
  margin-left: 90px
}
.style220,
.style234,
.style236 {
  margin-left: 29px
}
.style220,
.style236 {
  color: #00000a;
  font-size: .875em;
  margin-left: 62px
}
.style236 {
  margin-left: 47px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style237 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjilnej5k.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 5px;
  width: 1200px;
  height: 162px;
  flex-direction: column
}
.style242 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 133px;
  margin-top: 80px;
  height: 24px;
  flex-shrink: 0
}
.CRRIcertificateMedicalimage0unsupported0 {
  position: relative;
  margin-left: 16px;
  margin-top: 55px;
  width: 464px;
  height: 34px;
  flex-shrink: 0
}
.style238 {
  font-family: BalsamiqSans,serif;
  font-size: 2.25em;
  font-weight: 700;
  margin-left: 127px;
  margin-top: 43px;
  height: 43px
}
.CRRIcertificateMedicalrow2 {
  position: relative;
  display: flex;
  margin-left: 11px;
  margin-top: 0;
  width: 831px;
  height: 125px;
  align-items: flex-end
}
.style243 {
  margin-left: 0;
  width: 106px;
  height: 100%
}
.style266 {
  text-align: center;
  font-size: 1.375em;
  font-weight: 700;
  position: relative;
  margin-left: 34px;
  width: 691px
}
.style239,
.style240,
.style266 {
  font-family: BalsamiqSans,serif
}
.style239 {
  font-weight: 700;
  font-size: 2.25em;
  margin-left: 116px;
  margin-top: 16px;
  height: 43px
}
.style240 {
  font-size: 1.5625em;
  margin-left: 77px;
  margin-top: 39px;
  height: 32px
}
.CRRIcertificateMedicalunsupported7 {
  position: relative;
  margin-left: 453px;
  margin-top: 447px;
  width: 686px;
  height: 16px
}
.style241,
.style244,
.style245 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  margin-left: 77px;
  margin-top: 16px;
  height: 32px
}
.style244,
.style245 {
  margin-top: 14px
}
.style245 {
  margin-top: 10px
}
.CRRIcertificateMedicalunsupported4 {
  position: relative;
  margin-left: 0;
  margin-top: 583px;
  width: 153px;
  height: 16px
}
.style246,
.style247,
.style248 {
  font-family: BalsamiqSans,serif;
  font-size: 1.5625em;
  margin-left: 77px;
  margin-top: 11px;
  height: 32px
}
.style248 {
  margin-top: 10px
}
.CRRIcertificateMedicalunsupported9 {
  display: flex;
  margin-left: 72px;
  margin-top: 59px;
  width: 1039px;
  height: 464px;
  flex-direction: column
}
.CRRIcertificateMedicalunsupported9row0 {
  display: flex;
  margin-left: 14px;
  margin-top: 40px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style249,
.style250 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style249 {
  margin-left: 69px
}
.CRRIcertificateMedicalunsupported9row1 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style252,
.style258 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style258 {
  margin-left: 167px
}
.CRRIcertificateMedicalunsupported9row2 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style253,
.style259 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style259 {
  margin-left: 95px
}
.CRRIcertificateMedicalunsupported9row3 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style254,
.style260 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style260 {
  margin-left: 193px
}
.CRRIcertificateMedicalunsupported9row4 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style255,
.style261 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style261 {
  margin-left: 26px
}
.CRRIcertificateMedicalunsupported9row5 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style256,
.style262 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style262 {
  margin-left: 98px
}
.CRRIcertificateMedicalunsupported9row6 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style257,
.style263 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style263 {
  margin-left: 26px
}
.CRRIcertificateMedicalunsupported9row7 {
  display: flex;
  margin-left: 14px;
  margin-top: 26px;
  width: 919px;
  height: 27px;
  align-items: stretch
}
.style251,
.style264,
.style265 {
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 0
}
.style251,
.style265 {
  margin-left: 26px
}
.style251 {
  font-size: 1.5625em;
  margin-left: 64px;
  margin-top: 13px;
  height: 32px
}
.CRRIcertificateMedicalunsupported10 {
  position: relative;
  margin-left: 0;
  margin-top: 1282px;
  width: 307px;
  height: 16px
}